<%= render 'layouts/page_header', header: t('views.investment_accounts.index.header') %>

<ul>
  <% @accounts.each do |account| %>
    <li class="flex justify-between gap-x-6 pb-4">
      <div class="flex min-w-0 gap-x-4">
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900"><%= account.name %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>

