<div class="flex flex-col">
  <%= render 'layouts/page_header', header: @organization.name %>

  <%= render 'layouts/page_subheader', subheader: t('views.household.index.subheader') %>

  <ul>
    <% @members.each do |member| %>
     <%= render 'organizations/member', member: member %>
    <% end %>
  </ul>
</div>
