<div class="flex flex-col">
  <%= render 'layouts/page_header', header: @organization.name %>

  <div class="text-2xl font-semibold pb-4">
    Members
  </div>

  <ul>
    <% @members.each do |member| %>
     <%= render 'organizations/member', member: member %>
    <% end %>
  </ul>
</div>
