<div class="app w-full h-full min-h-screen grid grid-cols-4 gap-4 p-4">
  <div class="col-span-1 p-4">
    <%= render 'layouts/sidebar' %>
  </div>
  <div class="col-span-3 p-4 ">
    <%= yield %>
  </div>
</div>
