<% header_controls = header_controls || nil %>

<header class="bg-white shadow">
  <div class="flex flex-row items-center">
    <div class="max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-brand-900"><%= header %></h1>
    </div>
    <% if header_controls %>
      <div class="ml-auto">
        <%= header_controls %>
      </div>
    <% end %>
  </div>
</header>